/**
 *
 * Fix up any htmlarea styles that are broken by Drupal Themes (mainly
 * garland).
 */

.htmlarea table {
  width: auto;
  margin: 0px 0px;
}

.htmlarea tbody {
  border-top: none;
}

.htmlarea td, .htmlarea th {
  padding: 0;
}
